﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="linkBar.ascx.cs" Inherits="linkBar" %>
<table>
    <tr>
        <td>
            <a href="login.aspx">Login</a>
        </td>
        <td>
            <img height="16" hspace="3" src="images/app_divider.gif" width="2" alt="Admin Tools"/>
        </td>
        <td>
            <a href="register.aspx">Register Your School</a>
        </td>
        <td><img height="16" hspace="3" src="images/app_divider.gif" width="2" 
                            alt="Admin Tools"/>
        </td>
        <td>
            <a href="requestAccess.aspx">Request Access for Guidance Counselor</a>
        </td>
    </tr>
</table>