﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ResetPassword.aspx.cs" Inherits="EmailTemplate_ResetPassword" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <p>Hello ##Firstname## ##Lastname##</p>
        <p>Here is your new password for Drexel University's Guidance Counselor portal.</p>
        <p>Your new password is: ##Password##</p>
        <br />
        <p>Thank you</p>
    </div>
    </form>
</body>
</html>
