﻿H1
{
	font-size:16px;
	font-weight:bold;
	color:black;
}
.accordionHeader
{
	color: White;
	background-color: White;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	margin-top: 5px;
	cursor: pointer;
}
.accordionContent
{
	background-color: White;
	padding-left:10px;
	border-top: none;
	padding-left: 10px;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
}
.accordionLink
{
	background-color: White;
	color: Black;
}
.bgmlight {
	BACKGROUND-COLOR: #999999
}
.bgslight {
	BACKGROUND-COLOR: #efefef;
	border:solid 1px black;
	font-size:small;
}
.bgs
{
	BACKGROUND-COLOR: #efefef;
}
.bg3 
{
	background-color:#ffd253;
	
}
.SectionHeader
{
	border-top: solid 5px #ffd253;
	background-color:#ffd253;
	BACKGROUND-COLOR: #999999;
	height:1px;
	font-size:1px;
}
BODY {
	COLOR: #000000; FONT-FAMILY: verdana, helvetica, arial, sans-serif;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
}
.copy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	color: #000000;
}
.ErrorMessage
{
	padding-left:20px;
	color:Red;
	font-family:Arial;
	font-size:18px;
	text-align:center;
}
.FormTable
{
	text-align:center;
}
.Header {
	BACKGROUND-COLOR: #666699;
	width:100%;
}
.HeaderText
{
	padding-left:20px;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;

}
.HeaderText2
{
	padding-left:10px;
	font-family:Arial;
	font-size:small;

}
.HeaderText3
{
	padding-left:20px;
	color:Navy;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;

}
.Invisible
{
	display:none;
}
.RegularText
{
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	text-align:left;
	width:400px;
}
.Rule{
	BACKGROUND-COLOR: #ffd253;
	height:3px;
}
.Toolbar
{
	FONT-SIZE: 10px; COLOR: black; 
	FONT-FAMILY: verdana, helvetica, arial, sans-serif;
	vertical-align:top;
}
.TitleText
{
	font-size:10px;
	padding-left:20px;
	font-weight:bold;
	text-align:left;
	width:230px;
}
.TextBox
{
	text-align:left;
}
.Visible
{
	display:block;
	text-align:center;
}

.SmallErrorMessage
{
	padding-left:20px;
	color:Red;
	font-family:Arial;
	font-size:10px;
	text-align:center;
}
.OKMessage
{
	padding-left:20px;
	color:Green;
	font-family:Arial;
	font-size:18px;
	text-align:center;
}

.modalBackground
{
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:60;
	width:100%;
	height:100%;
	min-height:100%;
	position:absolute;
	left:0;
	top:0;
	
}
.modalPopup
{
	background-color:white;
	border-width:3px;
	border-style:dotted;
	border-color:black;
	padding:3px;
	width:450px;
	height:200px;
	position:relative;
	margin:0 auto;
	vertical-align:text-top;
	text-align:center;
	top:25%;
}
.counselor {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 17px;
	font-weight: bold;
	color: #000000;
}
.header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-style: normal;
	line-height: 40px;
	font-weight: bold;
	color: #000000;
}
.yellowShadedBorder
{
	
}
.text12 {
	FONT-SIZE: 12px; COLOR: #000000
}
.text10 {
	FONT-SIZE: 10px 
}
.uportal-channel-text {
	FONT-SIZE: 12px; 
	COLOR: black; 
	FONT-FAMILY: verdana, helvetica, arial, sans-serif;
}
.uportal-text-small
{
	FONT-SIZE: 10px; 
	COLOR: black; 
	FONT-FAMILY: verdana, helvetica, arial, sans-serif;
}
.uportal-label {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	COLOR: black; 
	FONT-FAMILY: verdana, helvetica, arial, sans-serif;
	padding;0px;
}
.uportal-head14-bold {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px; 
	COLOR: black; 
	FONT-FAMILY: verdana, helvetica, arial, sans-serif;
}
.WhiteSpace
{
	background-color:White;
	height:20px;
}